*,
*::before,
*::after {
    box-sizing: border-box;
}

@font-face {
    font-family: Inter;
    src: url(../fonts/Inter.ttf);
}

body {
    margin: 0;
    padding: 0;
    height: 100dvh;
    background: #0d1117;
    display: grid;

    font-family: Inter, sans-serif;
}

main {
    overflow-y: scroll;
}

.color-label {
    display: inline-block;
    width: 30px;
    height: 30px;
    cursor: pointer;
    border-radius: 50%;
}

input[type="radio"] {
    display: none;
}

input[type="radio"]:checked+.color-label {
    border: 2px solid white;
}