*,
*::before,
*::after {
    box-sizing: border-box;
}

@font-face {
    font-family: Inter;
    src: url(../fonts/Inter.ttf);
}

body {
    margin: 0;
    padding: 0;
    height: 100dvh;

    display: grid;

    font-family: Inter, sans-serif;
}

main {
    overflow-y: scroll;
}